

.email-preview{
    border-collapse: collapse;
    background-color: #8f8f8f85;
    border-top: 1px black solid;
    border-bottom: 1px black solid; 
    padding: 15px;

}


.email-preview:hover{
    background-color: #a19696d0;
}

.email-preview button{ 
    margin-inline-end: 1.2rem;
 
}
.email-preview p{ 
    margin-inline-end: 1.2rem;
 
}


