/* PREVIEW BAR */
.email-preview {
  border-collapse: collapse;
  background-color: #fbc9c850;
  border-bottom: 1px #909090 solid;
  padding: 10px;
  /* max-width: 100vw; */
  cursor: pointer;
}

.email-preview:hover {
  background-color: #fbc9c8b4;
}

.email-preview .email-date {
  justify-content: flex-end;
}

/* PREVIEW-BUTTON */

.preview-action-btns {
  min-width: 120px;
  margin-inline-end: 5px;
}

.email-preview button {
  transition: .3s ease;
  padding: 10px;
}
.email-preview button:hover {
  background-color: #bbbbbb75;
  border-radius: 50%;
}

/* PREVIEW-TEXT */
.email-preview .email-userName,
.email-subject {
  white-space: nowrap;
  margin-inline-end: 1.2rem;
}

.email-preview .email-userName {
  font-weight: bold;
  font-size: 1.1rem;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-preview .email-subject {
  font-size: 1.1rem;
  font-weight: 600;
}

.email-preview .email-body {
  margin-inline-end: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
  color: rgb(42, 42, 42);
}
.email-preview .email-date {
  white-space: nowrap;
  font-size: 0.9rem;
  color: rgb(110, 110, 110);
}

.fas.fa-star {
  color: gold;
}

.restore-trashed-email {
  color: #308d30;
}



/* 
.preview  .date display:block
.preview  .btns display:none
.preview:hover  .date display:none
.preview:hover  .btns display:block */
