/* PREVIEW BAR */
.email-preview {
  border-collapse: collapse;
  background-color: #fbc9c850;
  border-bottom: 1px #909090 solid;

  padding: 15px;
  max-width: 100vw;
  cursor: pointer;
}

.email-preview:hover {
  background-color: #fbc9c8b4;
}

.email-preview .email-date {
  justify-content: flex-end;
}

.email-preview button {
  margin-inline-end: 1rem;
  transition: .3s ease;
  height: 50;
}
.email-preview button:hover {
  background-color: #fff;
  /* position:absolute; */
  padding: 15px;
  border-radius: 50%;
}

/* PREVIEW-BUTTON */

.preview-action-btns {
  min-width: 120px;
}

/* PREVIEW-TEXT */
.email-preview .email-userName,
.email-subject {
  white-space: nowrap;
  margin-inline-end: 1.2rem;
}

.email-preview .email-userName {
  font-weight: bold;
  font-size: 1.1rem;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-preview .email-subject {
  font-size: 1.1rem;
  font-weight: 600;
}

.email-preview .email-body {
  margin-inline-end: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
  color: rgb(42, 42, 42);
}
.email-preview .email-date {
  white-space: nowrap;
  font-size: 0.9rem;
  color: rgb(110, 110, 110);
}

.fas.fa-star {
  color: gold;
}

.restore-trashed-email {
  color: #308d30;
}
