.mailbox-container {
  /* overflow-y: auto; */
}

.mailbox-action-bar {
  font-size: 1.1rem;
  gap: 35px;
  height: 44px;
  align-items: center;
  justify-content: flex-start;
}

.mailbox-action-bar > div {
  cursor: pointer;
  padding: 5px;
}

.mailbox-action-bar > div:hover {
 font-weight:bold ;
}

.sort-active {
  background-color: #fff;
  font-weight:bold ;
  border-radius: 5px;
}
