.mailbox-container > :first-child {
  /* border-top: 1px #909090 solid; */
}

.mailbox-action-bar {
  font-size: 1.1rem;
  gap: 35px;
  height: 44px;
  align-items: center;
  justify-content: flex-start;
}

.mailbox-action-bar > div {
  cursor: pointer;
  padding: 5px;
}

.sort-active {
  background-color: #fff;
  border-radius: 5px;
}
