/* .app-sidebar-container {
  min-width: 180px;
  gap:20px;
  height: 100%;
  
}

.compose-email-btn {
  font-size: 1.6rem;
  align-self: start;
}
.compose-email-btn:hover::after {
  content: "Compose";
  padding: 20px;
}

.sidebar-sort a{
  font-size: 1.2rem;
} */

/* .sidebar-sort i {
  margin-inline-end: 20px;
} */

.sidebar-sort{
  /* gap: 12px; */
}

.sidebar-sort a{
  font-size: 1.2rem;
  gap: 10px;
  padding: 12px 12px 12px 30px;
  border-start-end-radius: 4em;
  border-end-end-radius: 4em;
}

.sidebar-sort a:hover{
  background-color: #97B3E6;
}

.sidebar-sort a li{
  font-size: 0.9rem;
}

.app-sidebar-container{
  gap: 10px;
}