.app-sidebar-container {
  min-width: 180px;
  gap:20px;
  height: 100%;
  
}

.compose-email-btn {
  font-size: 1.6rem;
  align-self: start;
}
.compose-email-btn:hover::after {
  content: "Compose";
  padding: 20px;
}

.sidebar-inbox,
.sidebar-starred,
.sidebar-sent,
.sidebar-draft,
.sidebar-trash {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.sidebar-inbox:hover,
.sidebar-starred:hover,
.sidebar-sent:hover,
.sidebar-draft:hover,
.sidebar-trash:hover {
 background-color: #d3d3d3;
}

.sidebar-sort i {
  margin-inline-end: 20px;
}


