/* .main-layout{
   max-width: 1100px;
   margin:auto;
}

.main-about,.main-home,.main-books-app,.book-details,.main-add-book{
   padding: 7px 0;
   min-height: 90.5vh;
}

@media (max-width:1150px){
   .main-layout{
      margin-inline-start: 20px;
      margin-inline-end: 20px;
   }
} */