*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    background-color: rgb(241, 241, 241);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    min-height: 100vh;
}


#root{
    height: 100vh;
    flex-direction: column;
    display: flex;
}

main{
    flex-grow: 1;
}

h1,h2,h3,h4,h5,h6,p,button,ul,input{
    margin: 0;
    padding: 0;
    color: rgb(27, 27, 27);
    overflow-wrap: break-word;
}

/* h1::first-letter,h2::first-letter,h3::first-letter,h4::first-letter,
h5::first-letter,h6::first-letter,p::first-letter,button::first-letter{
    text-transform: uppercase;
} */

button{
    cursor: pointer;
    border: none;
}

footer{
    background-color: rgb(192, 192, 192);
    padding: 20px;
   
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}





.main-footer .logo {
    font-size: 2.5rem;
    text-shadow: -1px 2px 2px black;
    padding-block: 9px;
  }

  
.footer-copyrights {
    font-size: .8rem;
    color: rgb(223, 223, 223);
    letter-spacing: 1px;
    text-decoration: overline;
    padding-block: 10px;
  
  }