@font-face{
    font-family: mulish;
    src: url('../../fonts/mulish/Mulish-Regular.ttf');
}


*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    background-color: rgb(241, 241, 241);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    min-height: 100vh;
    font-family: 'mulish';
}

#root{
    flex-grow: 1;
}

main{
    flex-grow: 1;
}

h1,h2,h3,h4,h5,h6,p,button,ul,input,textarea{
    margin: 0;
    padding: 0;
    color: rgb(27, 27, 27);
    overflow-wrap: break-word;
    font-family: 'mulish';
}

button{
    cursor: pointer;
    border: none;
}

footer{
    background-color: rgb(192, 192, 192);
    padding: 15px;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

textarea{
    resize: none;
}