.flex {
  display: flex;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}
.align-end {
  align-self: flex-end;
}
.align-start {
  align-self: flex-start;
}

.flex-grow1 {
  flex-grow: 1; 
}

.warp {
  flex-wrap: wrap;
}

.stick {
  position: fixed;
}

.primary-btn {
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(32, 32, 32);
  color: white;
}

.muted {
  opacity: 0.5;
  font-weight: 400;
}

.green {
  color: green;
}

.red {
  color: rgb(226, 49, 49);
}

.marked-field::after {
  content: "*";
  color: cornflowerblue;
  font-weight: 800;
}

.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
	cursor: pointer;
	outline: inherit;
}

.hidden{
   display: none;
}
