/* .home-page{
 
} */

.home-hero {
    object-fit: cover;
    background-image: linear-gradient(rgb(0 0 0 / 68%), rgba(93, 93, 93, 0.4)), url(../../img/hero.jpg);
    height: 90vh;
    width: 88vw;
    /* padding: 20px 0; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-title {
    font-family: "Berkshire";
    font-size: 4rem;
    color: antiquewhite;
    text-shadow: -3px 4px 4px black;
    margin-block-start: 50px;
    margin-block-end: 80px;
  }
  .hero-subtitle {
    color: antiquewhite;
    font-family: 'Berkshire';
    font-size: 2rem;
    text-shadow: -2px 2px 2px black;
    
    margin-block-end: 200px;
  }
  
  .hero-slogan {
    color: antiquewhite;
    /* font-family: 'Berkshire'; */
    font-size: 3rem;
    text-shadow: -2px 2px 2px black;
    margin-block-end: 30px;
  }
  
  
  .go-to-books-btn{
    text-align: center;
    margin-block-start: 50px;
    margin-block-end: 50px;
    padding: 40px ;
    padding-inline: 25px; 
    font-size: 2rem ;
    font-weight: bold;
  }


  