.color-input-btn{
   position: relative;
}

.note-color-input{
   position: absolute;
   top:35px;
   left: 50px;
   background-color: rgb(255, 255, 255);
   padding: 5px;
   border-radius: 10px;
   gap: 5px;
   border: solid 1px gray;
}

.color-value{
   /* border: solid 1px gray; */
   width: 30px;
   height: 30px;
   border-radius: 50%;
}