.compose-note{
   padding: 10px ;
   align-items: center;
   z-index: 2;
   position: relative;
   max-width: 500px;
   margin: 10px auto;
   border-radius: 10px;
   border: 1px rgba(124, 124, 124, 0.322) solid;
   box-shadow: 0 0 5px grey;
   background-color: rgba(173, 173, 173, 0.144);
   transition: background-color .2s;
}

.compose-note.compose-open{
background-color: rgba(255, 255, 255, 0.144);
}

.compose-note input{
   border: none;
   font-size: 0.9rem;
   background: transparent;
   padding: 5px 0 ;
}

.compose-note input:focus-visible{
   outline: none;
}

.compose-preview input{
   font-weight: 800;
}

.compose-preview{
   border-radius: 5px;
}

.compose-preview > :last-child{
   border-end-start-radius: 5px;
   border-end-end-radius: 5px;
}

.compose-preview .compose-open:last-child{
   border-end-start-radius: 0;
   border-end-end-radius: 0;
}

.compose-preview.compose-open{
   border-end-start-radius: 0;
   border-end-end-radius: 0;
}

.extra-fields > input:first-child{
   border-end-start-radius: 5px;
   border-end-end-radius: 5px;
   
}

.extra-fields > .todo-compose-line:first-of-type{
   border-start-start-radius: 5px;
   border-start-end-radius: 5px;
}

.extra-fields > .todo-compose-line:last-of-type{
   border-end-start-radius: 5px;
   border-end-end-radius: 5px;
}

.compose-todos-label{
   font-weight: 800;
   border-radius: 5px;
}

.compose-types{
   border-start-start-radius: 5px;
   border-start-end-radius: 5px;
   gap:5px;
   padding-bottom: 5px;
   border-bottom: 1px solid gray;
}

.compose-types button{
   font-size: 1rem;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   transition: background-color 0.3s;
   background-color: rgba(0, 0, 0, 0);
}

.compose-types button:hover,.compose-types button.active{
   background-color: rgba(151, 151, 151, 0.308);
}

.create-note-btn{
   align-self: flex-end;
   padding: 7px 10px;
   border-radius: 5px;
   color: white;
   background-color:#2F5233   ;
}
