.note-preview{
   border-radius: 10px;
   cursor: pointer;
   transition: box-shadow 0.3s;
   align-self:flex-start;
   text-align: start;
   border: 0.2px solid rgb(196, 196, 196);
   max-height: 400px;
   transition:background-color .2s
}

.todo-note-preview ,.txt-note-preview,.img-note-preview-details{
   gap:8px;
   padding: 5px 10px;
}

.note-preview:hover{
 box-shadow: 0 0 5px 0px black;
}

.img-note-preview img{
   width: 100%;
   border-start-start-radius: 10px;
   border-start-end-radius:10px ;
}


.img-note-preview h3{
   text-overflow: ellipsis;
   white-space: pre-wrap;
   overflow: hidden;
}


.todo-note-preview button,.todo-note-preview label{
   z-index: 1;
   position: relative;
}

label.checked{
   text-decoration: line-through;
}

.preview-actions-bar{
   gap: 7px;
   position: relative;
}

.preview-actions-bar button{
   background-color: rgba(0, 0, 0, 0);;
   font-size: 1.2rem;
   padding: 2px;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   transition: background-color 0.3s;
}


.note-preview .preview-actions-bar button:not(.pinned){
   visibility: hidden;
   opacity: 0;
   transition: background-color 0.3s,opacity 0.5s;
}

.note-preview  .preview-actions-bar button.input-open{
   visibility: visible;
   opacity: 1;
}

.note-preview:hover .preview-actions-bar button{
   visibility: visible;
   opacity: 1;
}
.preview-actions-bar button:hover{
   background-color: rgba(0, 0, 0, 0.1);
}

.fa-thumbtack.unpinned::before{
   opacity: 0.3;
}


.todo-note-preview ul button{
   background: none;
   align-self: flex-start;
   margin-top: 0.3rem;
}

.todo-note-preview ul li{
   gap: 5px;
}

.todo-note-preview ul li label{
   overflow-wrap: anywhere;
}

.fa-circle{
   color: rgb(250 250 250);
   text-shadow: 0 0 1px grey;
}

.fa-check-circle{
   color: #2f5233;
   text-shadow: 0 0 1px grey;
}