.note-preview{
   background-color:khaki;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
}

.img-note-preview img{
   width: 100%;
}

.todo-note-preview input,.todo-note-preview label{
   z-index: 1;
   position: relative;
   /* color: chartreuse; */
}