.notes-board{
   /* display: grid; */
   /* grid-template-columns: repeat(auto-fill,250px); */
   column-width: 250px;
   column-count: auto;

   gap: 20px;
   text-align: center;
   padding: 20px 0;
   align-items: start;
}


main{
   background: rgb(242 242 242);
   background-size: 100vw;
   background-attachment: fixed;
   background-repeat: no-repeat;
}
