header{
    background-color: rgb(238, 238, 238);
    padding: 10px 0;
    box-shadow: inset 0 -5px 0 0 #2F5233;
}


header .logo{
    height: 40px;
}


header input{
  font-size: 1.2rem;
  border: none;
  /* border-radius: 5px; */
  /* padding: 6px; */
  background: none;
}

header input:focus-visible{
  outline: none;
}


.search-bar{
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
}

.search-bar button{
  background: none;
}




/* HEADER NAV MENU */

.menu {
    position: relative;
    top: 0px;
    padding: 25px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white,
      inset 0px 0px 4px rgba(255, 255, 255, 0.2),
      inset 7px 7px 15px rgba(55, 84, 170, 0),
      inset -7px -7px 20px rgba(255, 255, 255, 0),
      0px 0px 4px rgba(255, 255, 255, 0);
  }
  .menu::before,
  .menu::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 11px;
    top: 23px;
    transition: 0.2s ease;
    z-index: 1;
  }
  .menu::before {
    transform: rotate(0deg);
  }
  .menu::after {
    transform: rotate(-90deg);
  }
  .menu.open {
    opacity: 0.9;
  }
  .menu.open::before {
    transform: rotate(45deg);
  }
  .menu.open::after {
    transform: rotate(-45deg);
  }
  .menu.open .button {
    opacity: 1;
    pointer-events: auto;
  }
  .menu.open .button:first-of-type {
    top: 70px;
    height: fit-content;
  }
  .menu.open .button:nth-of-type(2) {
    top: 140px;
    height: fit-content;
  
    transition-delay: 0.05s;
  }
  .menu.open .button:nth-of-type(3) {
    top: 210px;
    height: fit-content;
  
    transition-delay: 0.1s;
  }
  .menu.open .button:nth-of-type(4) {
    top: 280px;
    height: fit-content;
  
    transition-delay: 0.15s;
  }
  .menu.open .button:last-of-type {
    top: 350px;
    height: fit-content;
  
    transition-delay: 0.2s;
  }
  
  .button {
    color: rgb(31, 31, 31);
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 10px #bebebe;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
      0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
  }
  .button:hover {
    transform: scale(1.3);
  }
  