header{
    background-color: rgb(238, 238, 238);
    padding: 10px 0;
  }

.yellow-header{
  box-shadow: inset 0 -5px 0 0 #FFBA08;
}

.blue-header{
  box-shadow: inset 0 -5px 0 0 #233961;
}

.green-header{
  box-shadow: inset 0 -5px 0 0 #2F5233;
}

.main-header{
  box-shadow: inset 0 -5px 0 0 rgb(46, 46, 46);
}

header .logo{
    height: 40px;
    /* transform: translateY(-50%); */
}

header div>:first-child:hover .logo{
  animation: rotating .5s linear ;
}

@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}
  
.haeder-container{
  gap: 10px;
}

header input{
  font-size: 1.2rem;
  border: none;
  background: none;
  width: 300px;
  flex-grow: 1;
}

header input:focus-visible{
  outline: none;
}


.search-bar{
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px #96969647 solid;
  margin-inline-end: 60px;
}

.search-bar button{
  background: none;
  font-size: 1.2rem;
}

.search-bar button::before{
  color: #1a1a1a;
}


.yellow-header .logo-app-name{
  color:#FFBA08;
}
.blue-header .logo-app-name{
  color:#3E65AD;
}
.green-header .logo-app-name{
  color:#2F5233;
}




/* HEADER NAV MENU */

.menu {
  max-height: 50px;
  max-width: 50px;
    position: relative;
    top: 0px;
    padding: 25px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white,
      inset 0px 0px 4px rgba(255, 255, 255, 0.2),
      inset 7px 7px 15px rgba(55, 84, 170, 0),
      inset -7px -7px 20px rgba(255, 255, 255, 0),
      0px 0px 4px rgba(255, 255, 255, 0);
  }
  .menu::before,
  .menu::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 11px;
    top: 23px;
    transition: 0.2s ease;
    z-index: 1;
  }
  .menu::before {
    transform: rotate(0deg);
  }
  .menu::after {
    transform: rotate(-90deg);
  }
  .menu.open {
    opacity: 0.9;
  }
  .menu.open::before {
    transform: rotate(45deg);
  }
  .menu.open::after {
    transform: rotate(-45deg);
  }
  .menu.open .button {
    opacity: 1;
    pointer-events: auto;
  }
  .menu.open .button:first-of-type {
    top: 70px;
    /* height: fit-content; */
  }
  .menu.open .button:nth-of-type(2) {
    top: 140px;
    /* height: fit-content; */
  
    transition-delay: 0.05s;
  }
  .menu.open .button:nth-of-type(3) {
    top: 210px;
    /* height: fit-content; */
  
    transition-delay: 0.1s;
  }
  .menu.open .button:nth-of-type(4) {
    top: 280px;
    /* height: fit-content; */
  
    transition-delay: 0.15s;
  }
  .menu.open .button:last-of-type {
    top: 350px;
    /* height: fit-content; */
  
    transition-delay:  0.2s;
  }
  
.header-nav{
  width:50px;
}

  .button {
    height: 50px;
    color: rgb(31, 31, 31);
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 10px #bebebe;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity,
      0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
      /* transition: transform 0.2s ; */
  }
  .button:hover {
    transform: scale(1.3);
  }
  
  

  @media(max-width:700px){
    .haeder-container{
      display: grid;
      grid-template-columns: repeat(2);
      grid-template-columns: repeat(2);
    }
    .search-bar{
      grid-column: 1/3;
      grid-row: 2/3;
    }

    .header-nav{
      grid-column: 2/3;
    }
  }